.contact {
	@include section-padding;

	.section-title {
		color: $purple;

		&::after {
			width: 85%;
		}

		&::after {
			background-color: $purple;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		gap: 2em;
		padding: 2em 0;

		@include respond(desktop-small) {
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: 1.5fr 2fr;
		}
	}

	&__texts {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
	}

	&__text {
		line-height: 180%;

		@include respond(tablet) {
			font-size: 1.75rem;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 0.5em;

		@include respond(tablet) {
			gap: 0.8em;
		}

		&-box {
			display: flex;
			gap: 0.5em;
			margin-bottom: 0.5em;
			width: 100%;

			@include respond(tablet) {
				gap: 0.8em;
			}
		}

		&-input,
		&-textarea {
			transition: box-shadow 0.2s;
			outline: none;
			border: none;
			border: 2px solid $purple;
			border-radius: 25px;
			background-color: rgba($color: $black, $alpha: 0.2);
			padding: 0.8em 1.6em;
			width: 100%;
			color: $white;
			font-family: 'Poppins', sans-serif;

			@include respond(tablet) {
				padding: 1em 2em;
			}

			&::placeholder {
				color: rgba($color: $white, $alpha: 0.3);
			}

			&:hover,
			&:active,
			&:focus {
				box-shadow: 0 0 8px $purple;
			}
		}

		&-textarea {
			margin-top: 1em;
			width: 100%;
			min-height: 100px;
			resize: vertical;
		}

		&-btn {
			transition: background-color 0.2s, color 0.2s;
			cursor: pointer;
			margin-top: 1em;
			outline: none;
			border: none;
			border-radius: 25px;
			background-color: $white;
			padding: 1em;
			width: 100%;
			color: $black;
			font-weight: 700;
			text-transform: uppercase;

			&:hover {
				background-color: $purple;
				color: $white;
			}

			@include respond(tablet) {
				padding: 0.8em 1.6em;
				font-size: 1.8rem;
			}
		}
	}

	&__span {
		position: relative;
		z-index: 10;
		font-weight: 700;

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: -5;
			background-color: $purple;
			width: 100%;
			height: 6px;
			content: '';
		}
	}
}
